<!DOCTYPE html>
<html>
  <head>
    <title>관리자 페이지</title>
    <link rel='stylesheet' href='/stylesheets/admin.css' />
  </head>
  <body>
    <h1 class="hidden">관리자 페이지</h1>
    <div class="header">
	    <div class="content-wrapper">
	    	<ul class="member-info">
	    		<li><%= session.name %>님 반갑습니다</li>
	    		<li><a href="/logout" target="_self">로그아웃</a></li>
	    	</ul>
    	</div>
   	</div>
   	<div class="main">
	   	<div class="content-wrapper">
	   		<div class="submenu">
		   		<ul>
		   			<a href="/admin/memberList"><li class="selected">회원관리</li></a>
		   			<a href="/admin/modMainImg"><li>메인이미지관리</li></a>
		   		</ul>
	   		</div>
	   		<div class="content">
		   		<ul>
		   			<% data.forEach(function (item, index) { %>
		   			<li><%= item.email %></li>
		   			<li><%= item.name %></li>
		   			<% }); %>
		   		</ul>
	   		</div>
	   	</div>
   	</div>
   	<div class="footer">
    	
   	</div>
  </body>
</html>