<!DOCTYPE html>
<html>
<head>
<!-- <meta charset="UTF-8"> -->
<title>Insert title here</title>
</head>
<body>
	<h1>LIST PAGE</h1>
	<a href="/insert">insert data</a>
	<hr/>
	<table width="100%" border="1">
		<tr>
			<th>delete</th>
			<th>edit</th>
			<th>id</th>
			<th>name</th>
			<th>model number</th>
			<th>series</th>
		</tr>
		<% data.forEach(function (item, index) { %>
		<tr>
			<td><a href="/delete/<%= item.id %">delete </a></td>
			<td>gg</td>
			<td><%= item.id %></td>
			<td><%= item.name %></td>
			<td><%= item.modelnumber %></td>
			<td><%= item.series %></td>
		</tr>
		<% }); %>
	</table>
</body>
</html>