<!DOCTYPE html>
<html>
  <head>
    <title>dulgidulgi</title>
  </head>
  <body>
  <div>men</div>
  <div>title</div>
  <div>main</div>
  <div>women</div>
  
 
/*<% if(locals.email == null) { %> 
  <a href="/login/">login</a>
  <a href="/join/">join</a>
  <% }else{ %>
  	<p><%= email %>님 환영합니다.</p>
  <% } %>*/
  </body>
</html>