<% include layout/header.ejs %>
<% include layout/content.ejs %>
<div class="container">
    <h1>Insert Page</h1>
    <hr />
    <form method="post" action='/insert'>
    <fieldset>
    	<legend>INSERT DATA</legend>
    	<table class="insert-table">
    		<tr>
    			<td><label>Name</label></td>
    			<td><input type="text" name="name" /></td>
    		</tr>
    		<tr>
    			<td><label>Model number</label></td>
    			<td><input type="text" name="modelnumber" /></td>
    		</tr>
    		<tr>
    			<td><label>series</label></td>
    			<td><input type="text" name="series" /></td>
    		</tr>
    		<tr>
    			<td colspan="2"><input type="submit" value="확인"></td>
    		</tr>
    	</table>
    	</form>
    <hr />
    <form method="post" action="/upload" enctype="multipart/form-data">
    	<div class="file-upload">
    		<input type="file" name="uploadFile" />
    	</div>
    	<input type="submit" name="upload" value="파일올리기" class="file-submit" />
    </form>	
</div>
<% include layout/foot.ejs %>	