
<% include ../layout/header.ejs %>

<! -- <div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true" style="overflow-y: auto;"> 
<div class="modal-dialog" >
  <div class="modal-content" >
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="fn_cancelJoinX();">×</button>
          <h1 class="text-center">Join</h1>
      </div>
      <div class="modal-body">
          <form class="form col-md-12 center-block" id="joinForm" method="post" action="/join">
            <div class="form-group">
              <input type="text" class="form-control input-lg" placeholder="Email" name="email" id="email">
            </div>
             <div class="form-group">
              <input type="password" class="form-control input-lg" placeholder="Password" name="password" id="password">
            </div>
            <div class="form-group">
			  <label>NAME</label>       
              <p><input type="text" name="name" value="" placeholder="NAME" id="name" />
              <input type="button" value="중복확인"  id="bt_name" onclick="fn_nameTest();" /></p>
            </div>
             <div class="form-group">
              <label>Birth Date</label>
    			<p><input type="text" name="year" value="" placeholder="YEAR" id="year" />
    			<select name="month" id="month">
				<option value="month">month</option><option value="1">1</option><option value="2">2</option>
				<option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option>
				<option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option>
				<option value="11">11</option><option value="12">12</option>
				</select>
    			<input type="text" name="day" value="" placeholder="DAY" id="day" /></p>
    			<input type="hidden" name="birthday" value="" id="birthday" />
            </div>
             <div class="form-group">
              <label>TEL</label>
              <p><input type="tel" name="tel" value="" placeholder="TEL" /></p>
            </div>
            <div class="form-group">
            	<label>SEX</label>
            	<p><input type="radio" name="sex" value="men" />Men
    			<input type="radio" name="sex" value="women" />Women</p>
            </div>
            <div class="form-group">
              <label>MEMO</label>
              <p><textarea name="memo"></textarea></p>
            </div>
          </form>
            <div class="form-group">
              <button class="btn btn-primary btn-lg btn-block" id="login" style=" background-color: #3276b1;"  onclick="fn_submitJoin();">join</button>
              <!-- <span class="pull-right"><a href="/join">Register</a></span><span><a href="#">Need help?</a></span> -->
            </div>
      </div>
      <div class="modal-footer">
          <div class="col-md-12">
          <button class="btn" data-dismiss="modal" aria-hidden="true" onclick="fn_cancelJoin();">Cancel</button>
		  </div>	
      </div>
  </div>
</div>
<!-- </div> -->

