<!DOCTYPE html>
<html>
  <head>
    <title>login Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>login Page</h1>
    <hr />
    <form method="post" action='/login'>
    <fieldset>
    	<legend>login DATA</legend>
    	<table>
    		<tr>
    			<td><input type="text" name="email" value="" placeholder="EMAIL" /></td>
    		</tr>
    		<tr>
    			<td><input type="password" name="password" value="" placeholder="PASSWORD" /></td>
    		</tr>
    	</table>
    	<input type="submit">
    	</form>
  </body>
</html>